.vscode
.idea

venv

output/*
!output/.keep

py310
git

train/*
logs/*
sd-models/*
!sd-models/put stable diffusion model here.txt
!logs/.keep

tests/

huggingface/hub/models--openai--clip-vit-large-patch14
input/c1747f56-3001-4ded-b524-849ba9613388.jpeg
input/WhatsApp Image 2022-11-16 at 09.05.48.jpeg
input/WhatsApp Image 2022-12-29 at 18.23.43.jpeg
input/WhatsApp Image 2023-01-17 at 16.23.35.jpeg
input/WhatsApp Image 2023-01-19 at 20.01.07.jpeg
input/WhatsApp Image 2023-03-01 at 17.29.24.jpeg
input/WhatsApp Image 2023-03-01 at 17.30.34 (1).jpeg
input/WhatsApp Image 2023-03-01 at 17.30.34 (2).jpeg
input/WhatsApp Image 2023-03-01 at 17.30.34.jpeg
input/key/c1747f56-3001-4ded-b524-849ba9613388.png
